szpital.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="szpital" type="typSzpital"/>

    <xsd:complexType name="typSzpital">
        <xsd:sequence>
            <xsd:element name="pracownicy" type="typPracownicy"/>
            <xsd:element name="pacjenci" type="typPacjenci"/>
            <xsd:element name="oddzialy" type="typOddzialy"/>
            <xsd:element name="karetki" type="typKaretki"/>
            <xsd:element name="środki_ochrony" type="typSrodki"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="typPracownicy">
        <xsd:sequence>
            <xsd:element name="lekarze" type="typLekarze"/>
            <xsd:element name="pielegniarki" type="typPielegniarki"/>
            <xsd:element name="ratownicy_medyczni" type="typRatownicy"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="typLekarze">
        <xsd:sequence>
            <xsd:element name="lekarz" type="typLekarz" maxOccurs="4"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="typLekarz">
        <xsd:all>
            <xsd:element name="imie" type="xsd:string"/>
            <xsd:element name="nazwisko" type="xsd:string"/>
            <xsd:element name="data_ur" type="xsd:date"/>
            <xsd:element name="specjalizacja" type="typSpecjalizacja"/>
            <xsd:element name="pensja" type="xsd:integer"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType name="typSpecjalizacja">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Onkologia"></xsd:enumeration>
            <xsd:enumeration value="Kardiologia"></xsd:enumeration>
            <xsd:enumeration value="Ginekologia"></xsd:enumeration>
            <xsd:enumeration value="Chirurgia"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>